*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(220, 207, 231);
}
body{
    font-family: 'Open Sans', sans-serif;
}
.title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.gallery{
    background-color: rgb(164, 133, 192);
}
.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.title{
    font-size: 30px;
    color: rgb(2, 0, 0);
}
nav{
    text-align: right;
}
nav>a{
    color: cornsilk;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;

}
nav>a:hover{
    text-decoration: underline;
}
header{
    width: 100%;
    height: 730px;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(354, 65%, 91%,0.4), hsl(352, 71%, 77%,0.2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(353, 100%, 93%,0.4), hsl(352, 71%, 77%,0.2)),url(../images/imagen8.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
#wave{
    width: 100%;
    bottom: 0;
    position: absolute;
}
.text-header{
    display: flex;
    height: 530px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.text-header H1{
    font-size: 90px;
    font-weight: 300;
    color: aliceblue;
}
.text-header H4{
    font-size: 30px;
    font-weight: 300;
    color: aliceblue;
}
.image-about-us{
    width: 45%;
    border-radius: 10%;
    box-shadow: 0 0 6px 0 rgb(2, 0, 0);
}
.about-us .content-text{
    width: 45;
}
.content-text h3{
    margin-bottom: 35px;
}

.content-text p{
    padding: 0px 0px 30px 30px;
    text-align: justify;
    font-weight: 300;
}
.content-text h3 span{
    background: rgb(105, 1, 97);
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(2, 0, 0);
}
.container-about-us{
    display: flex;
    justify-content: space-evenly;
}
.content-text p{
    padding: 0px 0px 30px 30px;
}
.markets {
    background-color: hsl(10, 30%, 96%);
}
.gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.gallery-market{
    width: 30%;
    height: 267px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    
}
.image-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.container-footer{
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(310, 46%, 42%);
}